:root {
    --primary-color: #d0d5df;
    --bg-color: #131416;
    --text-color: #ffffff;
    --button-color: #22ad2297;
    --hover-underline-color: #38cb13;
    --tag-color: #23262a;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --base-font-size: 16px;
    --border-color: #3a3d42;
}

.container-array {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 1;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
}

.blog-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.blog-content {
    flex-grow: 1;
    max-width: 100%;
}

.blog-sidebar {
    background-color: var(--bg-color);
    width: 30%;
    max-width: 1200px;
    margin: auto;
    top: 50%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
}

.blog-sidebar h2, .blog-sidebar h3, .blog-sidebar p, .blog-sidebar ul {
    color: var(--text-color);
}

.blog-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog-item {
    display: flex;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    height: 250px;
    width: 100%;
    transition: none;
}

.blog-image {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.blog-details {
    padding: 20px;
    width: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-header {
    text-align: left;
}

.blog-title {
    font-size: 1.5em;
    margin: 0;
    color: var(--text-color);
    margin-bottom: 10px;
}

.blog-meta {
    font-size: 0.9em;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.blog-tags {
    margin-top: 25px;
}

.tag {
    background-color: var(--tag-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.8em;
}

.blog-footer {
    text-align: right;
}

.read-more {
    font-size: 0.9em;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.read-more:hover {
    color: var(--hover-underline-color);
}

.blog-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#searchInput, #tagFilter {
    width: 100%;
    padding: 10px;
    font-size: var(--base-font-size);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 4px;
}

#searchInput::placeholder {
    color: var(--primary-color);
}

#tagFilter {
    appearance: none;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .blog-layout {
        flex-direction: column;
    }

    .blog-sidebar {
        width: 100%;
        position: static;
        margin-bottom: 20px;
    }

    .blog-content {
        margin-right: 0;
        max-width: 100%;
    }

    .blog-grid {
        flex-direction: column;
    }

    .blog-item {
        flex-direction: column;
        height: auto;
    }

    .blog-image {
        width: 100%;
        height: 200px;
    }

    .blog-details {
        width: 100%;
    }
}
